<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--API Key-->
    <add key="APIKey" value="7ZCozq2oUhFbpCYAWhrpGy/Q/Dx/pYdVR6RnSOMIuJo=" />
    <!--Secret Key-->
    <add key="SecretKey" value="LWDKSQyihaOdhTqdcdORtLv/0DN/qCTDXyWW9dR4vXToqb+VXnfXFQ==" />
    <!--CallAPIName(accurate高精度,general普通精度)-->
    <add key="CallAPIName" value="accurate" />
    <!--Url-->
    <add key="UrlStr" value="http://ciniu.leanapp.cn/" />
    <!--是否调用接口(true在线版本，false离线版本)-->
    <add key="IsCallWebApi" value="true" />
  </appSettings>
  <!--WCF服务配置-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IChatService" sendTimeout="00:00:10" >
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9999/MessageService" binding="netTcpBinding" contract="IWPFClientService.IMessageService" bindingConfiguration="NetTcpBinding_IChatService"/>
    </client>
  </system.serviceModel>
</configuration>