<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--API Key-->
    <add key="APIKey" value="mVkfwgQPUS6pdGe6XvxExffT" />
    <!--Secret Key-->
    <add key="SecretKey" value="dk7rKhglPBDr9ceEVy3dfFV8VOnrT41l" />
    <!--CallAPIName(accurate高精度,general普通精度)-->
    <add key="CallAPIName" value="accurate" />
  </appSettings>
</configuration>