<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--API Key-->
    <add key="APIKey" value="Yw8Sfa23FfoEa+nxRXhWkZBGbcJRgbuE0g7WfGf0ER0=" />
    <!--Secret Key-->
    <add key="SecretKey" value="NDcST/MBotlH5ZBO8q+QJERucZxvgJV43Q86B7RihxqKxFu+d6htZA==" />
    <!--CallAPIName(accurate高精度,general普通精度)-->
    <add key="CallAPIName" value="accurate" />
  </appSettings>
</configuration>