<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--API Key-->
    <add key="APIKey" value="7ZCozq2oUhFbpCYAWhrpGy/Q/Dx/pYdVR6RnSOMIuJo=" />
    <!--Secret Key-->
    <add key="SecretKey" value="LWDKSQyihaOdhTqdcdORtLv/0DN/qCTDXyWW9dR4vXToqb+VXnfXFQ==" />
    <!--CallAPIName(accurate高精度,general普通精度)-->
    <add key="CallAPIName" value="accurate" />
  </appSettings>
</configuration>