<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--API Key-->
    <add key="APIKey" value="mVkfwgQPUS6pdGe6XvxExffT" />
    <!--Secret Key-->
    <add key="SecretKey" value="dk7rKhglPBDr9ceEVy3dfFV8VOnrT41l" />
    <!--CallAPIName(accurate高精度,general普通精度)-->
    <add key="CallAPIName" value="accurate" />
  </appSettings>
</configuration>