<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="IService_netTcpBinding" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <!--双工，超时设置-->
        <binding name="DuplexBinding" sendTimeout="00:00:10">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IService_netTcpBehaviour">
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior  name="MessageServiceBehaviour">
          <!--会话最大数量-->
          <serviceThrottling maxConcurrentSessions="10000" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WPFClientService.WPFClientCheckWordService">
        <endpoint address="WPFClientCheckWordService" behaviorConfiguration="webHttp"
          binding="webHttpBinding" contract="IWPFClientService.IWPFClientCheckWordService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MessageServiceBehaviour" name="WPFClientService.MessageService">
        <endpoint address="MessageService" binding="netTcpBinding" bindingConfiguration="DuplexBinding"
          contract="IWPFClientService.IMessageService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9999/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>