<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Url-->
    <add key="UrlStr" value="https://ciniu.leanapp.cn/v" />
    <add key="APIVersion" value="1.0" />
    <add key="SaleID" value="" />
  </appSettings>
</configuration>