<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Url-->
    <add key="UrlStr" value="https://ciniutest.leanapp.cn/v" />
    <add key="APIVersion" value="1.0" />
    <add key="SaleID" value="" />
  </appSettings>
  <!--WCF服务配置-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IChatService" sendTimeout="00:00:10" >
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9999/MessageService" binding="netTcpBinding" contract="IWPFClientService.IMessageService" bindingConfiguration="NetTcpBinding_IChatService"/>
    </client>
  </system.serviceModel>
</configuration>